body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
margin-top: 42vh;
background: rgba(247, 134, 28, 1);
border-radius: 5px;
border: none;
font-family: 'Montserrat', sans-serif;
font-size: 42px;
}
